
.navbar{
    font-weight: bold;    
}
.carousel-inner img{
    width: 100%;
}
body p{
    color:dimgray;
}
.buy-button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}
.buy-button:hover{
    background-color: #FFBC24;
    color:orangered;
}
.buy-button:after{
content:'\f061';
font-family: fontawesome;
padding-left: 10px;
}
.carousel-indicators li {
    background-color:#FFBC24;
    width: 40px;
	height: 7px;
}
.carousel-inner img {
	width: 100%;
}
.slider-left-padding {
	padding: 140px 0 0 105px;
}
.see-all{
    text-align: right;
    color: #FFBC24;
    font-weight: bold;
    cursor: pointer;
}
#smartphone-laptop-heading{
    margin-bottom: 25px;
}
#smartphone, #laptop, #catagories{
    margin-top: 50px;
}
.card-footer {
    text-align: center;
    background-color:white;
    border-top: none;
}
#smartphone, #laptop h5{
    text-align: center;    
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
    padding: 60px 30px;
}
#slider img {
	padding-left: 50px;
	padding-bottom: 80px;
}
.col-md-6 img{
    width: 100%;
}
#bag {
	vertical-align: center;
	align-content: center;
    padding: 41px 77px 23px 69px;
}
#beauty {
	vertical-align: center;
	align-content: center;
	padding: 25px 56px 0px 48px;
}
#shoe {
	vertical-align: center;
	align-content: center;
	padding: 25px 56px 0px 48px;
	margin: 29px 5px 5px 16px;
}
.card-body h2 {
	text-align:center;
}
#catagories h2 {
    text-align: center;	
    margin-top: 150px;
}
hr {
	border-color: #FFBC24;
	border-width: 7px;
	margin-left: 43%;
	margin-right: 43%;
	display: block;
	margin-top: 0px;
	margin-bottom: 65px;
}
footer{
    text-align: center;
    color: dimgray;
    margin-top: 110px;
}
