nav{
    margin-top: 25px;
    font-weight: bold;
}
.container{
    margin-bottom: 70px;
}
.carousel-inner img{
    width: 100%;
}
body p{
    color:dimgray;
}
.buy-button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}
.carousel-indicators li {
	background-color:#FFBC24;
}
.carousel-inner img {
	width: 100%;
	padding-bottom: 80px;
}
.slider-left-padding{
    padding-left:105px;
}
.see-all{
    text-align: right;
    color: blueviolet;
}

.card-footer {
    text-align: center;
    background-color:white;
    border-top: none;
}
#smartphone, #laptop h5{
    text-align: center;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
    padding: 60px 30px;
}
#slider img{
    padding-left: 50px;
}

.area{
border: 2px solid red;
}
#bag {
	vertical-align: center;
	align-content: center;
    padding: 41px 77px 23px 69px;
    float: left;
    /*margin: 212px 0px 0px 0px;
    
}